body {
    background-color: #f5bfd4;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

h1 {
    color: #4B371C;
    margin-left: 20px;
}

p {
    color: #4B371C;
    margin-left: 20px;
}